.env
datadriven/data
r_for_datadriven/hidden

r_for_datadriven/going_further_R_fundamentals.Rmd
r_for_datadriven/going_further_R_fundamentals.md

r_for_datadriven/going_further_data_manipulation.Rmd
r_for_datadriven/going_further_data_manipulation.md
